<button type="button" (click)="toggleAffichage()">{{ etat_affichage ? 'Cacher' : 'Afficher' }}</button>
<div *ngIf="etat_affichage">
  <h1>Bienvenue</h1>
  <ul>
    <li *ngFor="let user of userList">{{ user.name }} ({{user.age}})</li>
  </ul>
</div>


<div>
  <!-- Bouton d'incrémentation -->
  <button type="button" (click)="increment()" [disabled]="compteur === 10">+</button>
  
  <!-- Affichage du compteur -->
  <div>
    <p>Compteur : {{ compteur }}</p>
  </div>
  
  <!-- Bouton de décrémentation -->
  <button type="button" (click)="decrement()"[disabled]="compteur === 0">-</button>
  </div>